<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>CAPP</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<style>
    body    { padding-top:75px; }

    .btn-outline-light:hover, .open, .btn-outline-light:active, .btn-outline-light.active, .btn-outline-light:focus{
        background-color: rgb(220, 52, 69) !important;
        color: white !important;
        border-color: rgb(220, 52, 69) !important;
    }

</style>

<!-- in head, link rel stylesheet at /styles.css, don't need to mention root of public folder or public-->
