<!-- views/partials/header.ejs -->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color: white">CAPP</a>
    <a class="nav-item nav-link" style="color: white" href="/">Home</a>
    <a class="nav-item nav-link" style="color: white" href="/applicants">Applicant Feed</a>
    <a class="nav-item nav-link" style="color: white" href="/jobFeed">Job Feed</a>
</nav>
