/node_modules
/dist
.env
.package-lock.json

\.vs/CAPP/v15/\.suo

\.vs/ProjectSettings\.json

\.vs/slnx\.sqlite

\.vs/VSWorkspaceState\.json

\.vscode/ipch/28dfce9f97980d17/mmap_address\.bin

\.vscode/ipch/9ef1067f0ca5c44e/mmap_address\.bin
