<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
   <ul>
    <% console.log(post); %>
    
    <% post.forEach(function(item){ %>
        <div>
       
        <%= item.position %>
        <%= item.company %>
      
        </div>
    <% }); %>
   </ul>
 
</main>




<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>